@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Boogaloo|Pacifico&display=swap');
* {
    box-sizing: border-box;
}


/* === Base Elements 
For all screens & devices  === */

body {
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
}


/* === Layout Elements === */


/* COME BACK TO THIS LATER! AVATAR IMAGE  */


/*.avatar-image {} */

.container {
    padding-left: 10px;
    padding-right: 15px;
}

.main-header {
    font-family: 'Boogaloo', Arial, Helvetica, sans-serif;
    background-color: #DCDCDC;
    padding: 10px 15px;
    font-size: 20px;
}

.main-footer {
    background-color: #DCDCDC;
    text-align: center;
    padding-bottom: 15px;
    font-size: 20px;
}


/* === Active Links === */

.main-header a:link {
    color: #000000;
}

.main-header a:visited {
    color: #000000;
}

.main-header a:hover {
    color: #696969;
}


/* === Media Queries === */

@media(min-width: 320px) {
    .wrap {
        min-height: calc(100vh - 89px);
    }
    .container {
        width: 70%;
        max-width: 1150px;
        margin: 0 auto;
    }
    .main-nav a {
        text-decoration: none;
        display: block;
    }
    .main-nav a {
        background: white;
        padding-left: 10px;
        padding-right: 15px;
        margin: 10px;
    }
    .main-header li {
        list-style: none;
    }
    .main-footer li {
        list-style: none;
    }
    .main-footer a {
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .name,
    .main-nav,
    .main-nav li {
        list-style: none;
        display: inline-block;
    }
    .name {
        margin-right: 50px;
    }
}